<%
    iframeUid = "responsive-iframe-" + Math.floor(Math.random() * 100000000);
%>
<!--[if lt IE 9]>
    <script src="<%= path %>/<%= vocab_dir %>/js/lib/vendors/legacy-ie-polyfills.js?v=<%= version %>"></script>
<![endif]-->
<div class="story-feature wide">
    <a href="<%= path %>/<%= vocab_dir %>/widget.html?v=<%= version %>" id="<%= iframeUid %>" data-static-iframe-height="600">iFrame</a>
</div>
<script type="text/javascript"><%= include("../js/lib/news_special/iframemanager__host.js", {iframeUid: iframeUid}) %></script>