<div class="ns__budget__calculator-page ns__budget__calculator-page--3">
    <div class="form_page_intro">
        <h2>Income</h2>
        <p>Even if you choose to share your final result on social networks, your friends will not see this information</p>
    </div>
    <fieldset class="main__form__page-fieldset">
        <legend class="ns__budget__calculator-page-fieldset--optional">You</legend>
        <div class="icon icon--salary">
            <label for="yoursalary">Salary (annual)</label>
            <input type="number" value="0" id="yoursalary" name="yoursalary">
        </div>
        <div>
            <label for="yourselfemployment">Self-employment</label>
            <input type="number" value="0" id="yourselfemployment" name="yourselfemployment">
        </div>
        <div>
            <label for="yourdividends">Dividends</label>
            <input type="number" value="0" id="yourdividends" name="yourdividends">
        </div>
        <div>
            <label for="yourinterest">Interest</label>
            <input type="number" value="0" id="yourinterest" name="yourinterest">
        </div>
        <div>
            <label for="yourrental">Rental income <a href="#ns__budget__calculator-popup-3" class="budget_calculator__popups-popup-link"></a></label>
            <input type="number" value="0" id="yourrental" name="yourrental">
        </div>
        <div>
            <label for="yourpension">Non-state pension</label>
            <input type="number" value="0" id="yourpension" name="yourpension">
        </div>
    </fieldset>

    <a class="budget_calculator__form-toggle" href="#budget_calculator__form-fieldset--partner_income">Include partner's salary</a>

    <fieldset id="budget_calculator__form-fieldset--partner_income" class="main__form__page-fieldset ns__budget__calculator-page-fieldset--optional">
        <legend>Your partner</legend>
        <div class="budget_calculator__form-fieldset_checkbox_wrapper">
            <input type="checkbox" class="ns__budget__calculator-event-onclick your_partner_checkbox" name="includepartner2" id="includepartner2">
            <label for="includepartner2" class="your_partner_label">Your partner</label>
        </div>
        <div class="icon icon--salary">
            <label for="partnersalary" class="input_label">Salary</label>
            <input type="number" value="0" id="partnersalary" name="partnersalary">
        </div>
        <div>
            <label for="partnerselfemployment" class="input_label">Self-employment</label>
            <input type="number" value="0" id="partnerselfemployment" name="partnerselfemployment">
        </div>
        <div>
            <label for="partnerdividends" class="input_label">Dividends</label>
            <input type="number" value="0" id="partnerdividends" name="partnerdividends">
        </div>
        <div>
            <label for="partnerinterest" class="input_label">Interest</label>
            <input type="number" value="0" id="partnerinterest" name="partnerinterest">
        </div>
        <div>
            <label for="partnerrental" class="input_label">Rental income</label>
            <input type="number" value="0" id="partnerrental" name="partnerrental">
        </div>
        <div>
            <label for="partnerpension" class="input_label">Non-state pension</label>
            <input type="number" value="0" id="partnerpension" name="partnerpension">
        </div>
    </fieldset>
</div>