<div class="ns__budget__calculator-page ns__budget__calculator-page--1">
    <div class="form_page_intro">
        <h2>Alcohol &amp; cigarettes</h2>
        <p>Estimate how much beer, wine, spirits and cigarettes you would consume in a normal week. You may choose to answer for yourself or your household.</p>
    </div>

    <fieldset class="main__form__page-fieldset">
        <div class="icon icon--showondesktop icon--beer">
            <label for="beer">Pints of beer</label> 
            <input type="number" value="0" id="beer" name="beer">
        </div>
        <div class="icon icon--showondesktop icon--wine">
            <label for="wine">Glasses of wine (175ml glass)</label> 
            <input type="number" value="0" id="wine" name="wine">
        </div>
        <div class="icon icon--showondesktop icon--spirits">
            <label for="spirits">Glasses of spirits (50ml doubles)</label> 
            <input type="number" value="0" id="spirits" name="spirits">
        </div>
        <div class="icon icon--showondesktop icon--cigarettes">
            <label for="cigarettes">Packs of cigarettes</label> 
            <input type="number" value="0" id="cigarettes" name="cigarettes">
        </div>
    </fieldset>
</div>