<div class="budget_calculator__nav">
    <ul class="budget_calculator__nav-list">
        <li class="budget_calculator__nav-list-item budget_calculator__nav-list-item--1 selected">
            <span class="text">1. Alcohol</span>
        </li>
        <li class="budget_calculator__nav-list-item budget_calculator__nav-list-item--2">
            <span class="text">2. You</span>
        </li>
        <li class="budget_calculator__nav-list-item budget_calculator__nav-list-item--3">
            <span class="text">3. Income</span>
        </li>
        <li class="budget_calculator__nav-list-item budget_calculator__nav-list-item--4">
            <span class="text">4. Car</span>
        </li>
        <li class="budget_calculator__nav-list-item budget_calculator__nav-list-item--5">
            <span class="text">5. Results</span>
        </li>
    </ul>
</div>