<div id="ns__budget__calculator-popup-1" class="budget_calculator__popups-popup budget_calculator__popups-popup--1">
    <p>If you select 'Single' but fill in details for your partner, your outcome may be inaccurate.</p>
</div>
<div id="ns__budget__calculator-popup-2" class="budget_calculator__popups-popup budget_calculator__popups-popup--2">
    <p>Count any children for whom child benefit is paid, which includes children under 16 as well as older children who are still at school or receiving certain types of training.</p>
</div>
<div id="ns__budget__calculator-popup-3" class="budget_calculator__popups-popup budget_calculator__popups-popup--3">
    <p>Your rental income is the amount you have made from letting out residential property minus eligible expenses you have incurred.</p>
</div>
<div id="ns__budget__calculator-popup-4" class="budget_calculator__popups-popup budget_calculator__popups-popup--4">
    <p>From 7 January 2013, new rules apply if you earn &pound;50,000 or more and receive Child Benefit. You will continue to receive the benefit but will have to pay an additional tax. The calculator shows this as a reduction in Child Benefit received to let you see the change more clearly.</p>
</div>
<div id="panel_error_content" class="budget_calculator__popups-popup  budget_calculator__popups-popup--error">
    <p>Please enter positive numbers without punctuation.</p>
</div>